<div class="container">
    <h1 class="text-center logo my-4">
        <a routerLink="/">
            BeninTechJobs
        </a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Connexion</h3>
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input
                                type="password"
                                name="password"
                                required
                                id="password"
                                class="form-control">
                        </div>
                        <p class="float-right small mt-1">
                            <a routerLink="/reset">Mot de passe oublié?</a>
                        </p>
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-4 mb-2">
                <a routerLink="/register" class="btn btn-block btn-primary">Nouveau sur BeninTechJobs? Inscrivez-vous</a>
            </div>
        </div>
    </div>
</div>
