<div class="">
  <app-navbar></app-navbar>
  <br>
  <div class="container">
    <section class="fdb-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-5 text-center">
            <h1>Trouvez le boulot de vos rêves</h1>
            <p class="text-h3">BeninTechJobs est la solution ultime pour trouver un boulot dans l'industrie tech au Bénin</p>
            <p>
              <a class="btn ml-md-3" href="https://www.froala.com">Démarrer</a>
            </p>
          </div>
          <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
            <img alt="image" class="img-fluid" src="https://cdn0.froala.com/assets/editor/pages/B/tour/developer-40334d3bc0d7e31ae288af7fd1212400.svg">
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="text-center">
      <div class="banner-form">
        <form action="#">
          <input type="text" class="form-control" placeholder="Position" style="border: 1px solid black">
          <div class="dropdown tr-change-dropdown" style="border: 1px solid black">
            <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Ville</span><i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu tr-change">
              <li><a href="#">Location</a></li>
              <li><a href="#">Location 1</a></li>
              <li><a href="#">Location 2</a></li>
              <li><a href="#">Location 3</a></li>
            </ul>
          </div>
          <!-- /.category-change -->
          <button type="submit" class="btn btn-primary" value="Search">Recherchez</button>
        </form>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
