<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <a class="navbar-brand" href="#">BeninTechJobs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Découvrir les jobs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vous recrutez?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/register">S'inscrire</a>
        <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Se connecter</a>
      </form>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="row align-items-center" style="height: 80vh">
      <div class="col text-center">
        <h1>BeninTechJobs</h1>
        <p>Recrutez les meilleurs talents tech pour vos besoins</p>
        <p><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Créer mon profil</button></p>
      </div>
      <div class="col">
        <img src="https://snap.hr/v2/img/home/hero-illustration.svg" alt="">
      </div>
    </div>
  </div>
</div>
